

#container {
    margin:0 auto;
    position:relative;
}

#center-container {
    position:absolute;
    top:0;
}

#center-container {
    width:100%;
    color:#ccc;
}

.text {
    margin: 7px;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}

#log {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
}


#infovis {
    position:relative;
    width:100%;
    height:1000px;
    margin:auto;
    overflow:hidden;
}

