{% extends 'base.html' %}

{% block content %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Pedigree Breeds</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item active">Breeds</li>
            </ol>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <a href="{% url 'new_breed_form' %}" class="btn float-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create
            </a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <div class="container pt-5">
        <h2 class="featurette-heading">Breeds</h2>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Data Export</h4>
                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                <div class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered"
                           cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date Added</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                                {% for breed in breeds.all %}
                                    <tr>
                                        <td scope="row">{{ breed.id }}</td>
                                        <td>{{ breed.breed_name }}</td>
                                        <td>{{ breed.date_added }}</td>
                                        <td><a href="{% url 'edit_breed_form' breed.id %}" class="btn btn-outline-success"><i class="mdi mdi-lead-pencil"></i> Edit
                                            </a></td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}