{% extends 'base.html' %}

{% block content %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Pedigree Breeders</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Pedigree</a></li>
                <li class="breadcrumb-item active">Breeders</li>
            </ol>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <button class="btn float-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create
            </button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <div class="container pt-5">
        <h2 class="featurette-heading">Breeders</h2>

        <input class="form-control" id="bredInput" type="text" placeholder="Search..">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Prefix</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
            </tr>
            </thead>
            <tbody id="bredTable">
            {% for breeder in breeders.all %}
                {% if breeder.active %}
                    <tr onclick="javascript:{document.getElementById('{{ breeder.id }}').submit()}"
                        style="cursor: pointer;">
                        <th scope="row">{{ breeder.contact_name }}</th>
                        <td>{{ breeder.prefix }}</td>
                        <td>{{ breeder.address }}</td>
                        <td>{{ breeder.email }}</td>
                        <td>{{ breeder.phone_number1 }}</td>
                    </tr>
                    <form id="{{ breeder.id }}" method="POST" action="{% url 'breeder' breeder.prefix %}">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

    </div>

    <script>
        $(document).ready(function () {
            $("#bredInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#bredTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


{% endblock %}