{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">New Pedigree Form</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Pedigree</a></li>
                <li class="breadcrumb-item active">New Pedigree Form</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <div class="container pt-5">
        <div class="card ">
            <div class="card-header">
                <h4 class="mb-0 ">Add New Pedigree Form</h4>
            </div>
            <div class="card-body">
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <h3 class="box-title">Pedigree Info</h3>
                        <hr class="mt-0 mb-5">
                        <div class="row">
                            {% for hidden in pedigree_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            {% for field in pedigree_form.visible_fields %}
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right col-form-label">{{ field.label|title }}</label>
                                    <div class="col-md-9">
                                        {% if field.label == 'Sex' %}
                                            <div class="radio radio-info pt-2">
                                                {% for option in field %}
                                                    <input type="radio" name="sex" id="{{ option.id_for_label }}" value="{{ option.choice_label }}" {% if forloop.first %}checked{% endif %}>
                                                        <label for="{{ option.id_for_label }}" class="pr-2"> {{ option.choice_label }} </label>
                                                {% endfor %}
                                        </div>
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                        {% for error in field.errors %}
                                          <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <h3 class="box-title">Attributes</h3>
                        <hr class="mt-0 mb-5">
                        <!--/row-->

                        <div class="row">
                            {% for hidden in attributes_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            {% for field in attributes_form.visible_fields %}
                                {% if field.name != 'reg_no'%}
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-right col-form-label">{{ field.label }}</label>
                                            <div class="col-md-9">
                                                {{ field }}
                                                {% for error in field.errors %}
                                                  <span class="help-block">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <!--/row-->
                        <h3 class="box-title">Images</h3>
                        <hr class="mt-0 mb-5">
                        <!--/row-->

                        <div class="row">
                            {% for hidden in image_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            {% for field in image_form.visible_fields %}
                                {% if field.name != 'reg_no'%}
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-right col-form-label">{{ field.label }}</label>
                                            <div class="col-md-9">
                                                {{ field }}
                                                {% for error in field.errors %}
                                                  <span class="help-block">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <!--/row-->
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                        <button type="button" class="btn btn-inverse">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>



{% endblock %}