{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
td:nth-child(1) {
vertical-align: middle;
}
td:nth-child(2) {
vertical-align: middle;
}
.left-sidebar {
    z-index: 10 !important;
}
</style>
<div class="">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ lvl1.name }}</h4>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs customtab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab"><span class="hidden-sm-up"><i class="ti-info"></i></span> <span class="hidden-xs-down">Profile</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#stats" role="tab"><span class="hidden-sm-up"><i class="ti-dashboard"></i></span> <span class="hidden-xs-down">Stats</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#images" role="tab"><span class="hidden-sm-up"><i class="ti-image"></i></span> <span class="hidden-xs-down">Images</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#children" role="tab"><span class="hidden-sm-up"><i class="ti-image"></i></span> <span class="hidden-xs-down">Children</span></a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane p-3 active" id="profile" role="tabpanel">
                    <div class="row">
                        <div class="col-md-4"><img src="{% for image in lvl1.images.all %}
                                                            {% if forloop.first %}
                                                                {{ image.image.url }}
                                                            {% endif %}
                                                        {% endfor %}
                                                        " class="img-responsive thumbnail mr-3">    </div>
                        <div class="col-md-8">
                            {{ lvl1.description|linebreaks }}
                        </div>
                    </div>
                </div>
                <div class="tab-pane p-3" id="stats" role="tabpanel">
                    <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <!-- Row -->
                                <div class="row">
                                    <div class="col-8"><span class="display-6">{{ lvl1.attribute.eggs_per_week }}</span>
                                        <h6>Eggs Laid Per Week</h6></div>
                                    <div class="col-4 align-self-center text-right  pl-0">
                                        <div id="sparklinedash3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <!-- Row -->
                                <div class="row">
                                    <div class="col-8"><span class="display-6">370 <i class="ti-angle-up font-14 text-success"></i></span>
                                        <h6>Offspring</h6></div>
                                    <div class="col-4 align-self-center text-right pl-0">
                                        <div id="sparklinedash"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <!-- Row -->
                                <div class="row">
                                    <div class="col-8"><span class="display-7">{{ lvl1.dob }} </span>
                                        <h6>Date Of Birth</h6></div>
                                    <div class="col-4 align-self-center text-right pl-0">
                                        <div id="sparklinedash2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <!-- Row -->
                                <div class="row">
                                    {% if lvl1.dod %}
                                    <div class="col-8"><span class="display-7">{{ lvl1.dod }}</span>
                                        <h6>Date Of Death</h6></div>
                                    <div class="col-4 align-self-center text-right pl-0">
                                        <div id="sparklinedash4"></div>
                                    </div>
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->

                </div>
                <div class="tab-pane p-3" id="images" role="tabpanel">
                    <div class="card-columns el-element-overlay">
                        {% for image in lvl1.images.all %}
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <a class="image-popup-vertical-fit" href="{{ image.image.url }}"> <img src="{{ image.image.url }}" alt="user" /> </a>
                                </div>
                                <div class="el-card-content">
                                    <h3 class="box-title">{{ image.title }}</h3> <small>{{ image.description }}</small>
                                    <br/>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane p-3" id="children" role="tabpanel">
                    {% if children %}
                        {% for child in children.all %}
                            <div class="card" style="width: 20rem;">
                              <img class="card-img-top" src="{% for image in child.images.all %}
                                                                {% if forloop.first %}
                                                                    {{ image.image.url }}
                                                                {% endif %}
                                                            {% endfor %}" alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-title">{{ child.name }}</h4>
                                <p class="card-text">{{ child.description|truncatewords:"50" }}</p>
                                <a href="{% url 'pedigree' child.id %}"
                                   class="btn btn-outline-info waves-effect waves-light" role="button">
                                <span class="btn-label"><i class="{% if child.sex == 'female' %}icon-symble-female{% else %}icon-symbol-male{% endif %}"></i></span> <strong>{{ child.reg_no }}</strong></a>
                              </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <h4>No children for this pedigree, add one?</h4>
                    {% include 'add_new_pedigree.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <table class="table responsive">
        <thead>
            <tr>
                <th>Parents</th>
                <th>Grandparents</th>
                <th>Great Grandparents</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!--## col1 ##-->
                <td rowspan="4">
                    <!--cell text-->
                    {% if lvl2_1 %}
                        {% include 'relative.html' with pedigree=lvl2_1 %}
                    {% else %}
                    <p>{{ no_pedigree_text }}</p>
                        {% include 'add_new_pedigree.html' with pedigree=lvl2_1 %}
                    {% endif %}
                </td>
                <!--## col2 ##-->
                <td rowspan="2">
                    {% if lvl3_1 %}
                        {% include 'relative.html' with pedigree=lvl3_1 %}
                    {% else %}
                    {% include 'add_new_pedigree.html' with pedigree=lvl3_1 %}
                    {% endif %}
                </td>
                <!--## col3 ##-->
                <td>
                    {% if lvl4_1 %}
                        {% include 'relative.html' with pedigree=lvl4_1 %}
                    {% else %}
                    {% include 'add_new_pedigree.html' with pedigree=lvl4_1 %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <!--## col3 ##-->
                <td>
                    {% if lvl4_2 %}
                        {% include 'relative.html' with pedigree=lvl4_2 %}
                    {% else %}
                    {% include 'add_new_pedigree.html' with pedigree=lvl4_2 %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <!--## col2 ##-->
                <td rowspan="2">
                    {% if lvl3_2 %}
                        {% include 'relative.html' with pedigree=lvl3_2 %}
                    {% else %}
                    {% include 'add_new_pedigree.html' with pedigree=lvl3_2 %}
                    {% endif %}
                </td>
                <!--## col3 ##-->
                <td>
                    {% if lvl4_3 %}
                        {% include 'relative.html' with pedigree=lvl4_3 %}
                    {% else %}
                    {% include 'add_new_pedigree.html' with pedigree=lvl4_3 %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <!--## col3 ##-->
                <td>{% if lvl4_4 %}
                        {% include 'relative.html' with pedigree=lvl4_4 %}
                    {% else %}
                    {% include 'add_new_pedigree.html' with pedigree=lvl4_4 %}
                    {% endif %}</td>
            </tr>
            <tr>
                <!--## col1 ##-->
                <td rowspan="4">
                    <!--cell text-->
                    {% if lvl2_2 %}
                        {% include 'relative.html' with pedigree=lvl2_2 %}
                    {% else %}
                    {% include 'add_new_pedigree.html' with pedigree=lvl2_2 %}
                    {% endif %}
                </td>
                <!--## col2 ##-->
                <td rowspan="2">
                    {% if lvl3_3 %}
                        {% include 'relative.html' with pedigree=lvl3_3 %}
                    {% else %}
                    {% include 'add_new_pedigree.html' with pedigree=lvl3_3 %}
                    {% endif %}
                </td>
                <!--## col3 ##-->
                <td>
                    {% if lvl4_5 %}
                        {% include 'relative.html' with pedigree=lvl4_5 %}
                    {% else %}
                    {% include 'add_new_pedigree.html' with pedigree=lvl4_5 %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <!--## col3 ##-->
                <td>
                    {% if lvl4_6 %}
                        {% include 'relative.html' with pedigree=lvl4_6 %}
                    {% else %}
                    {% include 'add_new_pedigree.html' with pedigree=lvl4_6 %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <!--## col2 ##-->
                <td rowspan="2">
                    {% if lvl3_4 %}
                        {% include 'relative.html' with pedigree=lvl3_4 %}
                    {% else %}
                    {% include 'add_new_pedigree.html' with pedigree=lvl3_4 %}
                    {% endif %}
                </td>
                <!--## col3 ##-->
                <td>
                    {% if lvl4_7 %}
                        {% include 'relative.html' with pedigree=lvl4_7 %}
                    {% else %}
                    {% include 'add_new_pedigree.html' with pedigree=lvl4_7 %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <!--## col3 ##-->
                <td>
                    {% if lvl4_8 %}
                        {% include 'relative.html' with pedigree=lvl4_8 %}
                    {% else %}
                    {% include 'add_new_pedigree.html' with pedigree=lvl4_8 %}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>

    {% if lvl1.breeder %}
        <form id="lvl1_breeder" method="POST" action="{% url 'breeder' lvl1.breeder %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% endif %}
    {% if lvl1.current_owner %}
        <form id="lvl1_owner" method="POST" action="{% url 'breeder' lvl1.current_owner %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% endif %}

    {% if lvl2_1.breeder %}
        <form id="lvl2_1_breeder" method="POST" action="{% url 'breeder' lvl2_1.breeder %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% endif %}
    {% if lvl2_1.current_owner %}
        <form id="lvl2_1_owner" method="POST" action="{% url 'breeder' lvl2_1.current_owner %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% endif %}

    {% if lvl2_2.breeder %}
        <form id="lvl2_2_breeder" method="POST" action="{% url 'breeder' lvl2_2.breeder %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% endif %}
    {% if lvl2_2.current_owner %}
        <form id="lvl2_2_owner" method="POST" action="{% url 'breeder' lvl2_2.current_owner %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% endif %}

    {% if lvl3_1.breeder %}
        <form id="lvl3_1_breeder" method="POST" action="{% url 'breeder' lvl3_1.breeder %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% endif %}
    {% if lvl3_1.current_owner %}
        <form id="lvl3_1_owner" method="POST" action="{% url 'breeder' lvl3_1.current_owner %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% endif %}

    {% if lvl3_2.breeder %}
        <form id="lvl3_2_breeder" method="POST" action="{% url 'breeder' lvl3_2.breeder %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% endif %}
    {% if lvl3_2.current_owner %}
        <form id="lvl3_2_owner" method="POST" action="{% url 'breeder' lvl3_2.current_owner %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% endif %}

    {% if lvl3_3.breeder %}
        <form id="lvl3_3_breeder" method="POST" action="{% url 'breeder' lvl3_3.breeder %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% endif %}
    {% if lvl3_3.current_owner %}
        <form id="lvl3_3_owner" method="POST" action="{% url 'breeder' lvl3_3.current_owner %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% endif %}

    {% if lvl3_4.breeder %}
        <form id="lvl3_4_breeder" method="POST" action="{% url 'breeder' lvl3_4.breeder %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% endif %}
    {% if lvl3_4.current_owner %}
        <form id="lvl3_4_owner" method="POST" action="{% url 'breeder' lvl3_4.current_owner %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% endif %}
{% endblock %}