{% extends 'base.html' %}

{% block content %}

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Pedigree Search</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Pedigree</a></li>
                <li class="breadcrumb-item active">Search</li>
            </ol>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <button class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create
            </button>
            {#            <div class="dropdown pull-right m-r-10 hidden-sm-down">#}
            {#                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"#}
            {#                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
            {#                    January 2017#}
            {#                </button>#}
            {#                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">#}
            {#                    <a class="dropdown-item" href="#">February 2017</a>#}
            {#                    <a class="dropdown-item" href="#">March 2017</a>#}
            {#                    <a class="dropdown-item" href="#">April 2017</a>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->


    <div class="container">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Search for a pedigree</h4>
                    <h6 class="card-subtitle">Use the search box below to type your query.</h6>
                    <form class="floating-labels m-t-40" method="POST" action="{% url 'results' %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group m-b-40">
                            <input type="text" class="form-control input-lg" name="search" id="search" required><span
                                class="bar"></span>
                            <label for="input8">Search...</label>
                            <br>
                            {% if error %}
                                <div class="alert alert-warning" role="alert">
                                    {{ error }}<strong>{{ search_string }}</strong>.
                                </div>
                            {% endif %}
                            <button type="submit" class="btn btn-outline-success">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}